.created-by {
  position: absolute;
  top: 0;
  left: 0;
  margin: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.created-by img {
  height: 2em;
  width: 2em;
  border-radius: 50%;
  margin-right: 0.5em;
}

.created-by a {
  margin-left: .25em;
}

.App {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  width: 700px;
  min-height: 455px;
  color: rgb(0, 19, 49);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.App h1 {
  font-size: 2em;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}

.App .menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title {
  width: 100%;
  height: 1.5em;
  text-transform: capitalize;
}

.menu {
  height: 375px;
}

.options {
  height: 100%;
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.options .title {
  text-transform: uppercase;
  font-weight: bolder;
  color: rgb(0, 19, 49);
}

.AccessoriesOptions {
  height: 50%;
  height: 182px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.Style {
  min-height: 50%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.downloadOptions {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.downloadOptions .button {
  height: 50px;
  width: 45%;
  background-color: white;
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}