.Button {
  min-width: 50px;
  border: 1px solid rgb(111, 157, 255);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px 25px;
  color: rgb(111, 157, 255);
  margin: 2px 5px;
  text-transform: capitalize;
}

.Button:hover {
  color: rgb(24, 94, 214);
  border: 1px solid rgb(24, 94, 214);
  cursor: pointer;
}

.selected {
  background-color: rgb(24, 94, 214);
  border: 1px solid rgb(24, 94, 214);
  color: white !important;
}
