html {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: rgb(238, 236, 238);
  display: flex;
  justify-content: center;
  align-items: center;
}